body{
    background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
}
.clock{
    margin: 50px auto;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 30px solid white;
    padding: 2rem;
    position: relative;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}
.min-hand{
    width: 40%;
    margin-left: 10%;
}
.hour-hand{
    width: 30%;
    margin-left: 20%;
}